<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.heiheilianzai.app">
    <!-- Required jiguang-->

    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Required  jiguang 一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- 设置READ_PHONE_STATE权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 设置安装程序权限 -->
    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- 设置创建于删除文件权限 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 开启GPS寻址权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.MODIFY_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 修复部分机型如中兴调用activityManager.getRunningTasks(1)报java.lang.SecurityException异常 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--用于读取手机硬件信息等，用于机型过滤-->
    <!--选举使用，当应用有删除或者更新时需要重新选举，复用推送通道-->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <!--补偿通道小米PUSH使用，不用可去除-->

    <!--允许监听启动完成事件-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--允许访问震动器-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 允许task重排序 -->
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:name="com.heiheilianzai.app.base.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup"
        tools:targetApi="p">

        <activity
            android:name=".ui.activity.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${APP_KEY_OPEN_INSTALL}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="${SA_SERVER_SCHEME}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.BookInfoActivity"
            android:exported="true"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />

        <activity
            android:name=".ui.activity.CatalogActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.CommentListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.AddCommentActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.FeedBackActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.setting.AboutActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.UserInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.BindPhoneActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.CatalogInnerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.RechargeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.AcquireBaoyueActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.ListAddCommentActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.ReplyCommentActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.AnnounceActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.setting.AboutUsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.TaskCenterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".ui.activity.PayActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.activity.read.ReadActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity
            android:name=".ui.activity.comic.ComicLookActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.setting.SettingsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.FirstStartActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.BootPageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.WebViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.DayShareActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.DownMangerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.TaskExplainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ShareActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.comic.ComicCommentActivity"
            android:theme="@style/ActivityEntryAnimation"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.comic.ComicinfoMuluActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.comic.ComicDownActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AdvertisementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".base.BaseOptionActivity"
            android:screenOrientation="portrait" />

        <!--微信支付-->
        <activity
            android:name="com.heiheilianzai.app.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <!--微信登录-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait"/>

        <!--支付宝支付-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- V3.0.9及以上版本需配置 -->
        <activity
            android:name="com.alibaba.sdk.android.push.keeplive.PushExtActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleInstance"
            android:process=":channel"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.comic.ComicInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101503374" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.heiheilianzai.app.ui.activity.Main2Activity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".component.filesearcher.delegate.FileSearcherDelegateActivity"
            android:theme="@style/FileSearcherTransParentTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".component.filesearcher.FileSearcherActivity"
            android:theme="@style/FileSearcherActivityTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.boyin.BoyinDownActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.boyin.BoyinPlayerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.CountryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.TopYearComicActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.TopYearBookActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/pathlist" />
        </provider>

        <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name=".component.push.MyJPushMessageReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <!-- User defined. 用户自定义的广播接收器-->
        <!-- 这是3.3.0之前版本的接收方式，3.3.0开始是通过继承 JPushMessageReceiver并配置来接收所有事件回调。-->
        <!-- 如果仍然需要在这个Receiver里接收，需要在JPushMessageReceiver 的子类里不重写对应的回调方法，或者重写方法且调用super-->
        <receiver
            android:name=".component.push.MyPushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <!--Required 用户注册 SDK 的 intent-->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!--Required 用户接收 SDK 消息的 intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!--Required 用户接收 SDK 通知栏信息的 intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!--Required 用户打开自定义通知栏的 intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".component.push.ReaderMessageReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.taobao.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.taobao.accs.EventReceiver"
            android:process=":channel">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.taobao.accs.ServiceReceiver"
            android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.START_FROM_AGOO" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.taobao.agoo.AgooCommondReceiver"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="${applicationId}.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.alibaba.sdk.android.push.SystemEventReceiver"
            android:process=":channel">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <service
            android:name="org.android.agoo.accs.AgooService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name="com.alibaba.sdk.android.push.AliyunPushIntentService"
            android:exported="true">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name="com.alibaba.sdk.android.push.channel.TaobaoRecvService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
        </service>

        <service android:name=".component.DownComicService">
            <intent-filter>
                <action android:name="com.heiheilianzai.app.ui.activity.comic.DownComicService" />
            </intent-filter>
        </service>

        <!-- V3.0.12及以上版本需配置 -->
        <service
            android:name="com.taobao.accs.internal.AccsJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":channel" />

        <!-- V3.0.7及以上版本需配置 -->
        <service
            android:name="com.alibaba.sdk.android.push.channel.KeepChannelService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":channel" />

        <service android:name="cn.jpush.android.service.PluginFCMMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="cn.jpush.android.service.PluginFCMInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- Since JCore2.0.0 Required SDK核心功能-->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service
            android:name=".component.push.MyJPushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

        <!-- Push SDK 相关组件，required-->
        <!-- 消息接收服务 -->
        <service
            android:name="com.alibaba.sdk.android.push.MsgService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.NOTIFY_ACTION" />
            </intent-filter>
        </service>

        <service
            android:name="com.alibaba.sdk.android.push.channel.CheckService"
            android:process=":channel">
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.CHECK_SERVICE" />
            </intent-filter>
        </service>

        <service
            android:name="com.taobao.accs.ChannelService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.SERVICE" />
            </intent-filter>
        </service>

        <service
            android:name="com.taobao.accs.ChannelService$KernelService"
            android:exported="false"
            android:process=":channel" />

        <service
            android:name="com.taobao.accs.data.MsgDistributeService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name="com.heiheilianzai.app.component.task.DownloadBoyinService"
            android:enabled="true">
        </service>
        <!--阿里云推送-->
        <!-- 请填写你自己的- appKey-->
        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="${ALI_APP_KEY}" />

        <!-- 请填写你自己的appSecret-->
        <meta-data
            android:name="com.alibaba.app.appsecret"
            android:value="${ALI_APP_SECRET}" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_KEY}" />

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_NAME}" />

        <!-- Required Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="${JPUSH_CHANNEL}" />

        <!--  </>值来自开发者平台取得的AppKey-->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="${JPUSH_APPKEY}" />

        <meta-data
            android:name="android.max_aspect"
            android:value="ratio_float" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <meta-data
            android:name="com.openinstall.APP_KEY"
            android:value="${APP_KEY_OPEN_INSTALL}" />
    </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
</manifest>